<template>
  <div
    class="cover-art"
    :style="{
      'background-image': `url(${getAlbumArt})`,
    }"
  ></div>
</template>

<script>
export default {
  name: 'CoverArt',
  props: {
    art: {
      type: Array,
      required: true,
    },
  },
  computed: {
    getAlbumArt() {
      if (!this.art.length) return '';

      const sortedArr = this.art
        .concat() // prevent mutation
        .sort((a, b) => ((a.height > b.height) ? 1 : -1));

      return sortedArr[0].url;
    },
  },
};
</script>

<style lang="scss" scoped>
.cover-art {
  width: 56px;
  height: 56px;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(#ddd, .1);
  box-shadow: 0 0 10px rgba(0,0,0,.3);
}
</style>
