<template>
  <div class="now-playing">
    <a
      class="now-playing__details"
      target="_blank"
      :href="track.external_urls.spotify"
    >
      <CoverArt
        :art="track.album.images"
      />
      <div class="now-playing__info">
        <div class="now-playing__title">{{ track.name }}</div>
        <span class="now-playing__artist">{{ formattedArtists }}</span>
      </div>
    </a>
    <div class="now-playing-controller">
      <div class="now-playing-controller__buttons">
        <div
          class="now-playing-controller__button"
          title="previous track"
          :class="{
            'now-playing-controller__button--disabled': !canPlayPrevious,
          }"
          @click="canPlayPrevious && changeTrack(-1)"
        >
          <i class="icon icon-to-start"></i>
        </div>
        <div
          class="now-playing-controller__button"
          :title="isPlaying ? 'Pause' : 'Play'"
          @click="togglePlayState"
        >
          <i
            class="icon"
            :class="{
              'icon-play': !isPlaying,
              'icon-pause': isPlaying,
            }"
          ></i>
        </div>
        <div
          class="now-playing-controller__button"
          title="next track"
          :class="{
            'now-playing-controller__button--disabled': !canPlayNext,
          }"
          @click="canPlayNext && changeTrack(1)"
        >
          <i class="icon icon-to-end"></i>
        </div>
      </div>
      <ProgressBar
        :currentTime="timer"
        :totalTime="track.duration_ms"
      />
    </div>
  </div>
</template>

<script>
import ProgressBar from '@/components/ProgressBar.vue';
import CoverArt from '@/components/CoverArt.vue';

export default {
  name: 'NowPlaying',
  components: {
    ProgressBar,
    CoverArt,
  },
  props: {
    canPlayPrevious: {
      type: Boolean,
      default: false,
    },
    canPlayNext: {
      type: Boolean,
      default: false,
    },
    track: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      timer: 0,
      isPlaying: false,
      playerTimer: null,
    };
  },
  methods: {
    changeTrack(dir) {
      this.$emit('changeTrack', dir);
    },
    togglePlayState() {
      if (!this.playerTimer) {
        this.playTrack();
      } else {
        this.stopPlayer();
      }
    },
    playTrack() {
      this.isPlaying = true;
      this.playerTimer = setInterval(() => {
        if (this.timer >= this.toNearestThousand(this.track.duration_ms)) {
          this.timer = 0;
          this.changeTrack(1);
          this.stopPlayer();
        } else {
          this.timer += 1000;
        }
      }, 1000);
    },
    stopPlayer() {
      clearInterval(this.playerTimer);
      this.isPlaying = false;
      this.playerTimer = null;
    },
    toNearestThousand(val) {
      return Math.round(val / 1000) * 1000;
    },
  },
  computed: {
    formattedArtists() {
      return this.track.artists
        .reduce((acc, artist) => [...acc, artist.name], [])
        .join(', ');
    },
  },
  watch: {
    track() {
      this.stopPlayer();
      this.timer = 0;
      this.playTrack();
    },
  },
};
</script>

<style lang="scss" scoped>
.now-playing {
  box-sizing: border-box;
  width: 100%;
  padding: 10px 16px;

  background-color: rgba(0,0,0,0.5);
  border-top: 1px solid #000;

  @media (min-width: 550px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0;
    padding-bottom: 0;
    height: 90px;
  }

  &__details {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    width: 200px;

    &:hover {
      text-decoration: underline;
    }
  }

  &__info {
    padding-left: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__title {
    color: #fff;
  }

  &__artist {
    font-size: 12px;
  }

  &-controller {
    padding-top: 16px;
    margin-right: auto;
    margin-left: auto;

  @media (min-width: 550px) {
    padding-top: 0;
  }

    &__buttons {
      display: flex;
      justify-content: space-around;
      margin-bottom: 10px;
    }

    &__button {
      padding: 10px;
      border: 1px solid currentColor;
      border-radius: 50%;
      transition: color .25s;

      &:hover {
        color: #fff;
      }

      &--disabled {
        color: #525252;
        cursor: not-allowed;

        &:hover {
          color: #525252;
        }
      }
    }
  }
}
</style>
