<template>
  <div class="progress-bar-container">
    <div class="progress-bar">
      <div
        class="progress-bar__progress"
        :style="{
          transform: `translateX(-${progressBarPosition}%)`,
        }"
      ></div>
    </div>
    <div class="progress-bar__timer">
      <span>{{ formattedCurrentTime }}</span>
      <span>{{ formattedTotalTime }}</span>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ProgressBar',
  props: {
    currentTime: {
      type: Number,
      required: true,
    },
    totalTime: {
      type: Number,
      required: true,
    },
  },
  methods: {
    formattedTime(ms) {
      const msInSeconds = Math.floor(ms / 1000);
      const minutes = Math.floor(msInSeconds / 60);
      const seconds = msInSeconds % 60;
      const secondsFormatted = seconds < 10 ? `0${seconds}` : seconds;

      return `${minutes}:${secondsFormatted}`;
    },
  },
  computed: {
    playedPercentage() {
      return this.currentTime / this.totalTime * 100;
    },
    progressBarPosition() {
      return 100 - this.playedPercentage;
    },
    formattedCurrentTime() {
      return this.formattedTime(this.currentTime);
    },
    formattedTotalTime() {
      return this.formattedTime(this.totalTime);
    },
  },
};
</script>

<style lang="scss">
.progress-bar {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 4px;
  background-color: #404040;
  border-radius: 2px;

  @media (min-width: 550px) {
    width: 300px;
  }

  &__progress {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    background-color: currentColor;
  }

  &__timer {
    display: flex;
    justify-content: space-between;
  }
}
</style>
