<template>
  <ul
    class="track-list"
    v-if="tracks.length"
  >
    <li
      class="track-list-item"
      v-for="track in tracks"
      :key="track.track.id"
      :class="{
        'track-list-item--playing': track.track.id === currentTrackId,
      }"
      @click="$emit('selected', track)"
    >
      <div class="track-list-item__wrapper">
        <div class="track-list-item__title">{{ track.track.name }}</div>
        <div class="track-list-item__info">
          <span>{{ formatArtists(track.track.artists) }} • {{ track.track.album.name }}</span>
        </div>
      </div>
      <div class="track-list-item__playtime">{{ trackPlaytime(track.track.duration_ms) }}</div>
    </li>
  </ul>
</template>

<script>

export default {
  name: 'TrackList',
  props: {
    tracks: {
      type: Array,
      required: true,
    },
    currentTrackId: {
      type: String,
      default: '',
    },
  },
  methods: {
    formatArtists(arr) {
      return arr
        .reduce((acc, artist) => [...acc, artist.name], [])
        .join(', ');
    },
    trackPlaytime(ms) {
      const msInSeconds = Math.floor(ms / 1000);
      const minutes = Math.floor(msInSeconds / 60);
      const seconds = msInSeconds % 60;
      const secondsFormatted = seconds < 10 ? `0${seconds}` : seconds;

      return `${minutes}:${secondsFormatted}`;
    },
  },
};
</script>

<style lang="scss" scoped>
.track-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  max-height: 200px;
  overflow: auto;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #ddd;
  }

  &::-webkit-scrollbar-track {
    background-color: #666;
  }

  &-item {
    user-select: none;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    cursor: pointer;
    padding: 16px;
    background-color: transparent;
    transition: background-color .25s;

    &:hover {
      background-color: rgba(0,0,0,.3);
    }

    &__wrapper {
      padding-right: 10px;
      min-width: 0;
    }

    &--playing {
      background-color: rgba(0,0,0,.3);

      .track-list-item {

        &__title,
        &__playtime {
          color: #1ed760;
        }
      }
    }

    &__title {
      color: #fff;
      font-size: 16px;
    }

    &__title,
    &__info {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    &__separator {
      padding: 0 8px;
      transform: translateY(-1px);
    }
  }
}
</style>
