<template>
  <div id="app">
    <TrackList
      :tracks="tracks"
      :currentTrackId="currentTrack.id"
      @selected="onTrackSelected"
    />
    <NowPlaying
      :canPlayPrevious="currentTrackIndex !== -1 && currentTrackIndex !== 0"
      :canPlayNext="currentTrackIndex !== -1 && currentTrackIndex + 1 !== this.tracks.length"
      :track="currentTrack"
      @changeTrack="onTrackChange"
    />
  </div>
</template>

<script>
import tracks from '@/data/tracks.json';

import NowPlaying from '@/components/NowPlaying.vue';
import TrackList from '@/components/TrackList.vue';

export default {
  name: 'App',
  components: {
    NowPlaying,
    TrackList,
  },
  data() {
    return {
      tracks: [],
      currentTrack: {
        name: '',
        artists: [],
        album: {
          images: [],
        },
        id: '',
      },
    };
  },
  created() {
    this.tracks = tracks.items;
    this.currentTrack = this.getSessiontrack() || this.tracks[0].track;
  },
  methods: {
    getSessiontrack() {
      const track = localStorage.getItem('lastPlayedTrack');
      if (!track) return false;
      return JSON.parse(track);
    },
    updateTrackSelection(track) {
      this.currentTrack = track;
      localStorage.setItem('lastPlayedTrack', JSON.stringify(this.currentTrack));
    },
    onTrackSelected(track) {
      this.updateTrackSelection(track.track);
    },
    onTrackChange(dir) {
      const newTrack = this.tracks[this.currentTrackIndex + dir];
      this.updateTrackSelection(newTrack.track);
    },
  },
  computed: {
    currentTrackIndex() {
      return this.tracks.findIndex(track => track.track.id === this.currentTrack.id);
    },
  },
};
</script>


<style lang="scss">
@import '/scss/main';

#app {
  width: 100%;
  max-width: 600px;
  background-color: rgba(0,0,0,.2);
}
</style>
