html {
  height: 100%;
  background-color: #181818;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  position: relative;
  height: 100%;
  font-size: 14px;
  line-height: 20px;
  font-family: 'Montserrat', sans-serif;
  color: #b3b3b3;
  background-image: linear-gradient(to right bottom, rgb(86, 67, 67), rgb(0, 0, 0)),
                    linear-gradient(transparent, rgb(0, 0, 0) 70%);
}